// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$material-light: (
  'background': #f0f0f0
);

$grid-breakpoints: (
  'tablet': 1024px,
  'mobile': 600px
);

$display-breakpoints: (
  // tablet size 以上
  'tablet-and-up':
  'only screen and (min-width: #{map-get($grid-breakpoints, 'tablet')})',
  // tablet size 未満
  'tablet-and-down':
  'only screen and (max-width: #{map-get($grid-breakpoints, 'tablet') - 1})',
  //// mobile size 以上
  'mobile-and-up':
  'only screen and (min-width: #{map-get($grid-breakpoints, 'mobile')})',
  // mobile size 未満
  'mobile-and-down':
  'only screen and (max-width: #{map-get($grid-breakpoints, 'mobile') - 1})'
);